<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/default.css">
</head>

<body onload="randomize_logo()">
    <!-- layout -->
    <div class="root">
        <div class="child sidebar" id="left_sidebar">
            <div id="logo">
                <a href="/" id="logo_nav" alt="Home">
                    <p>nfisherman</p>
                    <img src="/img/logo/fishingboat.gif" id="logo_img"/>
                </a>
                <script src="/js/main.js" type="text/javascript"></script>
            </div>
            <hr class="dashed">
            <ul class="nav">
                <li><a href="/about/">About</a></li>
            </ul>
        </div>
        <div class="child main">
            <!-- main content -->
            <header>
                <h1>{{ title }}</h1>
            </header>
            <main>
                {{ content }}
            </main>
        </div>
        <div class="child sidebar" id="right_sidebar">
            <!-- right_sidebar content -->
            <p>right sidebar</p>
        </div>
    </div>
</body>
</html>