@font-face {
    font-family: "Hanged_Letters";
    src: url("../fonts/Hanged_Letters.ttf") format("truetype");
}

html {
    background-image: url(../img/background/paper.jpg);
    background-repeat: repeat;
}

body {
    padding:10px;
}

hr {
    border: 0;
    border-top: 2px grey;
}

hr.dashed {
    border-style: dashed;
}

.root {
    width: 900px;
    display: flex;
    border: 2px dashed gray;
}

.child {
    float: left;
    box-sizing: border-box;
    padding: 10px;
    height: max-content;
}

.sidebar {
    width: 20%;
    background: rgba(255, 0, 0, 0.1);
    overflow: hidden;
}

div#left_sidebar {
    padding-top: 0;
}

.main {
    width: 60%;
    background: rgba(21, 255, 0, 0.1);
    border-left: 2px dashed gray;
    border-right: 2px dashed gray;
}


div#logo {
    position: relative;
    background:rgba(21, 255, 0, 0.1);
    margin-top: -30px;
}

a#logo_nav {
    font-family: 'Hanged_Letters', 'Brush Script MT', cursive;
    color: black;
    text-decoration: none;
    font-size: 2.39em;
    margin-bottom: 0;
}

a#logo_nav > p {
    margin-bottom: 0;
}

img#logo_img {
    width: 100%;
}

@media screen and (max-width: 900px) {
    .root {
        display:contents;
    }

    .root, .child {
        width: 100%;
    }

    div#logo {
        position: relative;
        background:rgba(21, 255, 0, 0.1);
        display: flex;
        justify-content: center;
    }
    
    a#logo_nav {
        font-size: 10vmin;
    }

    a#logo_nav > * {
        display: inline-flex;
        
    }

    img#logo_img {
        width: 12vmin;
        height: auto;
    }
}
