html {
    background: url(../img/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.os {
    user-select: none;
    color: #000000;
    font-size: 100%;
    font-family: "Lucida Grande", "Lucida Sans Unicode",
    "Garuda", "Malayalam", Arial, sans-serif;
}

nav {
    /* Style */
    /* https://github.com/B00merang-Project/OS-X-Mavericks */
    background-image: linear-gradient(
        rgba(245, 245, 245, 0.7),
        rgba(210, 210, 210, 0.7)
    );
    background-repeat: repeat;
    outline: 1px transparent;
    box-shadow: 0 -5pt 10pt 5pt;

    /* Position */
    /* https://stackoverflow.com/questions/2867503/height-of-the-apple-menubar */
    height: 22pt;
    width: 100%;
    padding: 0px;
    /* overflow: hidden; */
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

nav > * {
    margin-right: 10pt;
}

nav > *:active {
    background-color: rgb(13, 73, 205);
}

/* top-left icon */
#menu { 
    height: 100%;
    margin-left: 10pt;
}

#dock {
    /* Position */
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    background-color: red;
}

/* triangle before the dock */
#dock::before {
    
}

/* triangle after the dock */
#dock::after {

}